{% extends "stackoverflow/layout.html" %}
{% block DatavisSO10 %}
    <p class="vizType">Data Visualisation</p>
    <div class="wrapper">
        <select name="types"  onchange="changeVisualization()" id="choice">
            <option value="" disabled=true autofocus=true>--Type of visualisation--</option>
            <option value="lineChart">Line Chart</option>
            <option value="barChart">Bar Chart</option>
          </select>
        <p class="chartTitle">A StackOverflow's User Reputation</p>
        <svg id="chart" ></svg>
        
    </div>
{% endblock DatavisSO10 %}