<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name='SO10'>Driver={SQL Server};Server=DESKTOP-UA5ADAO;Database=StackOverflow2010;Trusted_Connection=yes;</add>
  </connectionStrings>
  <tokens>
    <add name="mapbox_token">pk.eyJ1IjoiaGFtZG91Y2hpIiwiYSI6ImNrNno4NWVpdDBtaHEzZXBpMmJzYWxwd2gifQ.yF1QBLtb_-zXIvECgN-a8Q</add>
  </tokens>
</configuration>