<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DatavisTAXI</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/taxi/main.css')}}">
    <script src="{{url_for('static', filename='js/d3/d3.js')}}"></script>
    <meta name="viewport" content="width=device-width initial-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/taxi/all.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/taxi/rangeslide.css')}}">

</head>

<body>
    {% block DatavisTAXI %} {% endblock DatavisTAXI %}
    <script src="{{url_for('static', filename='js/taxi/main.js')}}"></script>
    <script src="{{url_for('static', filename='js/taxi/rangeslide.js')}}"></script>

</body>

</html>