{% extends "taxi/layout.html" %}
{% block DatavisTAXI %}
<div class="blackBG">
</div>

<div class="overlay">
  <p class="header">Welcome To The NYC Taxi Trips Visualisation</p>
  <p class="vizDesc">We used 2013 New York City taxis data to visualize taxi trips during the month of August</p>
  <p class="vizDesc">Enjoy obersving the traffic pattern through time</p>
  <div class="dateDiv">
    <p>Choose a day :</p>
    <input type="date" min="2013-08-1" max="2013-08-31" id="#date">
    <p> (By default it's the whole month of August)</p>
  </div>
  <button id="beginButton">Begin</button>
  <p id="loadingText">Loading data...</p>
</div>

<div class="pointsInputs">
  <h3>Trips points</h3>
  <div>
    <input type="checkbox" id="startPointsInput" checked> <span>Start Points</span>
  </div>
  <div>
    <input type="checkbox" id="endPointsInput" checked> <span>End Points</span>
  </div>
</div>

<div class="legend">

  <div class="legendHeader">
    <i class="fas fa-map-marker-alt"></i>
    <h2>Legend</h2>
  </div>

  <div class="startPointLegend">
    <i class="fas fa-circle"></i>
    <p>Trip start point</p>
  </div>

  <div class="endPointLegend">
    <i class="fas fa-circle"></i>
    <p>Trip end point</p>
  </div>

  <div class="tripLegend">
    <svg id="tripPath">
      <path d="M5,0 L30,30"> </path>

    </svg>
    <p>Trip route</p>
  </div>

</div>
<div id="map"></div>

{% endblock DatavisTAXI %}